//- footer  
.sectionn(data-color='last')
    .container.hero
        section.page-section#contact
            .row.middle-xs
                .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    .box-row
                        .textblock
                            h2.titlefont.block I am seeking a full time Product Designer role
                .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    .box-row
                        a.btn.giant.pink.wicon.email(href="mailto:saniasyed0516@gmail.com") 
                            .textblock 
                                h6.titlefont.block Contact me
                                p.body
                                    | Questions? Feedback? Hiring? 
                                    br
                                    | Let's get in touch!
                        a.btn.giant.green.wicon.doc(href="https://drive.google.com/file/d/1Rq8Dp31Qa9A67uUSa5HukN3YipRUD_BX/view?usp=sharing" target="_blank") 
                            .textblock 
                                h6.titlefont.block Get my resume
                    
.sectionn.mobile
    .container.mobile
        section.page-section
            .row
                .col-xs-12.col-sm-12.col-md.col-lg
                    a.btn.tab(href='/')
                        .anim
                            .anim-btn s
                            .anim-text ania
                .col-xs-12.col-sm-12.col-md.col-lg
                    nav.nav
                        ul.nav__groups  
                            li.nav__group
                              a.btn.tab(href="#work") work
                            li.nav__group
                                a.btn.tab(href="#about") about me
                            li.nav__group
                                a.btn.tab(href="#contact") contact
.sectionn.notmobile
    .container.notmobile
        section.page-section
            .row
                .col-xs-12.col-sm-12.col-md.col-lg
                    a.btn.tab(href='/')
                        .anim
                            .anim-btn s
                            .anim-text ania
                .col-xs-12.col-sm-12.col-md.col-lg
                    nav.nav
                        ul.nav__groups  
                            li.nav__group
                                a.btn.tab(href="#work") work
                            li.nav__group
                                a.btn.tab(href="#about") about me
                            li.nav__group
                                a.btn.tab(href="#contact") contact
    