extends layout-cs.pug

block intro
  .sectionn.gray-first#1
    .container.wspace
      section.page-section
        .slides
          .slide-containerr
            .slide
              .slideContent
                .row
                  .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .slide-left
                      .slideText.projectheadline
                        a.btn.chip Case Study
                        h5 Blake Pro Gear
                        h4.titlefont.block Redesigning the digital presence of an outdoor equipment company.
                  .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .slide-right
                      .slideImgcont
                        img.slideImg(src='https://www.apple.com/newsroom/images/product/iphone/standard/apple_iphone-12-spring21_purple_04202021_big.jpg.large.jpg' alt='Image description')
          
          
          

block discovery
  .sectionn.gray#2
    .container.wspace
      section.page-section#work
        .slides
          .slide-containerr#nav-trigger
            .slide
              .slideContent
                .row
                  .col-xs-12.col-sm-12.col-md-6.col-lg-4
                    .slide-left
                      .slideText
                        p.body.upper.graytxt Duration
                        p.body ~2 months
                      .slideText
                        p.body.upper.graytxt My role
                        p.body Strategy, User Research, Brand Design, Web Design
                  .col-xs-12.col-sm-12.col-md-6.col-lg-8
                    .slide-right
                      .slideText
                        h5.titlefont Background
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material, needed to bring their brand into a new era, so they hired me to overhaul their design practices. Through the process of assessing their needs, I determined that they would need a brand guideline and design system that would allow them to update content while still staying within a common design language. I was able to create a brand guideline and responsive design system for them, that allowed a cohesive brand experience for their customers and efficient website content creation in the future.
          .slide-containerr
            .row
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .slide
                  .slideContent
                    .row
                      .col
                        .slide-left
                          .slideTitle.less
                            a.btn.title.wicon.right.doc Balancing needs
                          .slideText
                            p.body I began the project by conducting meetings with the client to determine the project scope and timeline.
                          .slideTitle.less
                            a.btn.title.wicon.right.doc Defining the brand
                          .slideText
                            p.body I began the project by conducting meetings with the client to determine the project scope and timeline.
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .slide
                  .slideContent
                    .row
                      .col
                        .slide-left
                          .slideTitle.less
                            a.btn.title.wicon.right.doc User Research
                          .slideText
                            p.body.upper.graytxt Methods
                            p.body I began the project by conducting meetings with the client to determine the project scope and timeline.
                          .slideText
                            p.body.upper.graytxt Insights
                            p.body I began the project by conducting meetings with the client to determine the project scope and timeline.
          .slide-containerr
            .slide
              .slideContent
                .slideTitle
                  h5.titlefont Who are the Users?
                .row
                  .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .slide-right
                      .slideText
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material, needed to bring their brand into a new era, so they hired me to overhaul their design practices. Through the process of assessing their needs, I determined that they would need a brand guideline and design system that would allow them to update content while still staying within a common design language. I was able to create a brand guideline and responsive design system for them, that allowed a cohesive brand experience for their customers and efficient website content creation in the future.
                  .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .slide-left
                      .slideText.bubble
                        h6.titlefont.block Paul
                        p.body.small Engineer and avid hiker
                        p.body "As an avid hiker, I want to replace some items in my collection with higher quality and sustainable products, so that my hikes are more enjoyable."

                      .slideText.bubble
                        h6.titlefont.block Tasha
                        p.body.small recent college graduate, planning a multi day hike for the first time
                        p.body "As a person about to hike seriously for the first time, I want to buy reliable products that I can trust, so I can stay safe."
          .slide-containerr
            .slide
              .slideContent
                .slideTitle
                  h5.titlefont Establishing Goals
                  p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material, 
                .row
                  .col-xs-12.col-sm-12.col-md-6.col-lg-4
                    .slideText.bubble
                      h6.titlefont.block 1
                      p.body engineer and avid hiker
                  .col-xs-12.col-sm-12.col-md-6.col-lg-4
                    .slideText.bubble
                      h6.titlefont.block 2
                      p.body recent college graduate, planning a multi day hike for the first time
                  .col-xs-12.col-sm-12.col-md-6.col-lg-4
                    .slideText.bubble
                      h6.titlefont.block 3
                      p.body engineer and avid hiker
                  
          


block solutions
  .sectionn.gray#3
    .container.wspace
      section.page-section
        .slides
          .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-3
              .slideTitlesticky
                h4.titlefont Establishing Goals
                p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material, 
            .col-xs-12.col-sm-12.col-md-6.col-lg-9
              .content
                .slide-containerr
                  .slide
                    .slideContent.solutions
                      .slideTitle
                        h5.titlefont Establishing Goals
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material

        .slides
          .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-3
              .slideTitlesticky
                h5.titlefont Establishing Goals
                p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material, 
            .col-xs-12.col-sm-12.col-md-6.col-lg-9
              .content
                .slide-containerr
                  .slide
                    .slideContent.solutions
                      .slideTitle
                        h5.titlefont Design System
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        
  .sectionn.gray#4
    .container.wspace
      section.page-section
        .slides
          .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-3
              .slideTitlesticky
                h4.titlefont.block Establishing Goals
                p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material, 
            .col-xs-12.col-sm-12.col-md-6.col-lg-9
              .content
                .slide-containerr
                  .slide
                    .slideContent.solutions
                      .slideTitle
                        h5.titlefont Establishing Goals
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
                        p.body BlakeProGear, a company specializing in outdoor gear equipment made with superior material
block conclusion
  .sectionn.gray#5
    .container.wspace
      section.page-section#work
        .slides
          .slide-containerr
            .row
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .slide
                  .slideContent
                    .row
                      .col
                        .slide-left
                          .slideTitle
                            h6.titlefont What I Learned
                          .slideText
                            p.body.upper Challenges
                            p.body I began the project by conducting meetings with the client to determine the project scope and timeline.
                          .slideText
                            p.body.upper Solutions
                            p.body I began the project by conducting meetings with the client to determine the project scope and ar, 
          
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .slide
                  .slideContent
                    .row
                      .col
                        .slide-left
                          .slideTitle
                            h6.titlefont Looking Forward
                          .slideText
                            p.body.upper Results
                            p.body I began the project by conducting meetings with the client to determine the project scope and timeline.
                          .slideText
                            p.body.upper What's next
                            p.body I began the project by conducting meetings with the client to determine the project scope and ar, 
  .sectionn.gray
    .container.wspace
      section.page-section#work
        .slides
          .slide-containerr
            .row
              .col-xs-12.col-sm-12.col-md-6.col-lg-4
                .slide
                  .slideContent.nextcs
                    .row
                      .col
                        .slideTitle
                          h4.titlefont Thank you for reading!
                        .slideText
                          p.body Check out another case study
              .col-xs-12.col-sm-12.col-md-6.col-lg-8
                .slides.slidescol
                  .slide
                    .slideContent.nextcs
                      .row
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                          .slide-left
                            .slideText.projectheadline
                              h5.titlefont Blake Pro Gear
                              p.body Redesigning the digital presence of an outdoor equipment company.
                              .buttontocasestudy
                                a.btn.topage(href='/work/bpg') Read more
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                          .slideImgcont
                            img.slideImg(src='https://www.apple.com/newsroom/images/product/iphone/standard/apple_iphone-12-spring21_purple_04202021_big.jpg.large.jpg' alt='Image description')
                  .slide
                    .slideContent.nextcs
                      .row
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                          .slide-left
                            .slideText.projectheadline
                              h5.titlefont Blake Pro Gear
                              p.body Redesigning the digital presence of an outdoor equipment company.
                              .buttontocasestudy
                                a.btn.topage(href='/work/bpg') Read more
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                          .slideImgcont
                            img.slideImg(src='https://www.apple.com/newsroom/images/product/iphone/standard/apple_iphone-12-spring21_purple_04202021_big.jpg.large.jpg' alt='Image description')