//- header  
.sectionn.mobile
  .container.mobile
    section.page-section
      .row
        .col-xs.col-sm.col-md-12.col-lg
          a.btn.tab.dark(href='/')
            .anim
              .anim-btn s
              .anim-text ania
        .col-xs.col-sm.col-md-12.col-lg
          .button-row.header
              a.btn.tertiary.wicon.menu.alone(href="") 
.sectionn.headerr
  .container.notmobile.top
    section.page-section
      .row
        .col-xs-12.col-sm-12.col-md-4.col-lg-2
          a.btn.tab.dark(href='#')
            .anim
              .anim-btn s
              .anim-text ania
        .col-xs-12.col-sm-12.col-md-8.col-lg
          nav.nav1
            ul.nav1__groups  
              li.nav__group
                a.btn.tab.dark(href="#work") work
              li.nav1__group
                a.btn.tab.dark(href="#about") about me
              li.nav1__group
                a.btn.tab.dark(href="#contact") contact

.sectionn.headerr.toc
  .container.notmobile
    section.page-section
      .row
        .col-xs-12.col-sm-12.col-md-8.col-lg
          nav.nav-toc
            ul.nav-toc__groups  
              li.nav-toc__group
                a.btn.link(href="#1") Intro
              li.nav-toc__group
                a.btn.link(href="#2") Discovery
              li.nav-toc__group
                a.btn.link(href="#3") Solutions
              li.nav-toc__group
                a.btn.link(href="#4") Mockups
              li.nav-toc__group
                a.btn.link(href="#5") Conclusion
                        


    